<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resim Karşılaştırma</title>
</head>

<body>
    <h1>Resim Karşılaştırma</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="img1">1. Resim:</label>
        <input type="file" id="img1" name="img1" accept="image/*" required><br><br>
        <label for="img2">2. Resim:</label>
        <input type="file" id="img2" name="img2" accept="image/*" required><br><br>
        <input type="submit" value="Karşılaştır">
    </form>
</body>

</html>